In [2]:
import pandas as pd

In [3]:
submit = pd.read_csv('submit_disv1.csv')
templet = pd.read_csv('../data/sample_submission.csv')
submit = pd.merge(submit,templet,on='TransactionID')

In [6]:
len(submit[submit['score']<=0.001])/len(submit)

153532

In [5]:
submit['isFraud'] = submit['score'].apply(lambda x:1 if x<0.001 else 0)
submit[['TransactionID','isFraud']].to_csv('submit5.csv',index=False)

In [18]:
submit2 = pd.read_csv('submit1.csv')
submit2['isFraud'] = submit2['isFraud'].apply(lambda x:1 if x<0.5 else 0)
submit2['isFraud'].value_counts()

1    430868
0     75823
Name: isFraud, dtype: int64

In [6]:
aeresult = pd.read_csv('../data/ae_result.csv')
aeresult

        TransactionID  split  autoscore
0             2987004      1   0.000943
1             2987008      1   0.000628
2             2987010      1   0.000376
3             2987011      1   0.000339
4             2987016      1   0.000948
5             2987017      1   0.000403
6             2987022      1   0.000587
7             2987038      1   0.001072
8             2987040      1   0.000374
9             2987048      1   0.000328
10            2987049      1   0.000321
11            2987057      1   0.000910
12            2987066      1   0.000581
13            2987069      1   0.001055
14            2987070      1   0.000626
15            2987072      1   0.000588
16            2987074      1   0.000340
17            2987084      1   0.000328
18            2987093      1   0.000606
19            2987099      1   0.001636
20            2987100      1   0.000909
21            2987101      1   0.001397
22            2987104      1   0.001047
23            2987105      1   0.000602
24            2987108      1   0.000587
25            2987111      1   0.000340
26            2987114      1   0.000334
27            2987119      1   0.000886
28            2987121      1   0.000877
29            2987125      1   0.000887
...               ...    ...        ...
286110        4170150      2   0.000587
286111        4170151      2   0.000354
286112        4170152      2   0.001072
286113        4170154      2   0.002401
286114        4170156      2   0.001076
286115        4170157      2   0.000676
286116        4170170      2   0.000375
286117        4170172      2   0.000614
286118        4170173      2   0.000582
286119        4170177      2   0.000584
286120        4170180      2   0.000586
286121        4170184      2   0.000589
286122        4170185      2   0.000886
286123        4170187      2   0.000725
286124        4170188      2   0.000645
286125        4170192      2   0.000788
286126        4170200      2   0.001166
286127        4170214      2   0.000336
286128        4170219      2   0.000306
286129        4170223      2   0.000605
286130        4170224      2   0.000331
286131        4170225      2   0.000328
286132        4170226      2   0.000627
286133        4170228      2   0.000656
286134        4170229      2   0.000365
286135        4170230      2   0.000618
286136        4170233      2   0.000622
286137        4170234      2   0.000952
286138        4170236      2   0.000628
286139        4170239      2   0.000667

[286140 rows x 3 columns]

In [9]:
len(aeresult[aeresult['autoscore']<0.0001])/len(aeresult)

0.05602851750891172

In [4]:
train_transaction = pd.read_csv('../data/train_transaction.csv')
train_transaction['isFraud'].value_counts()

0    569877
1     20663
Name: isFraud, dtype: int64

In [12]:
train_transaction_m = pd.merge(train_transaction[['TransactionID','isFraud']],aeresult,on='TransactionID',how='left')

In [15]:
#train_transaction_m['autoscore'].value_counts()
train_transaction_m[train_transaction_m['autoscore']<0.0001]['isFraud'].value_counts()

0    11372
1     1111
Name: isFraud, dtype: int64

In [19]:
train_transaction['M9'].value_counts()

T    205656
F     38632
Name: M9, dtype: int64